@import '~style/helpers';

.search {
	width: 50%;
    margin: auto;
}

.dropdown {
	background-color: #f7f7f7;
    padding: 10px;
    border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.search input {
	width: 100%;
	padding: 2px 4px;
	font-size: 20px;
}

.sectionContainer {
	display: flex;
	flex-wrap: wrap;
}

.sectionContainerItem {
	flex: 1;
	flex-basis: 33.33%;
}
